.footer {
    background-image: url("../img/footer-pattern.png");
    background-color:#613993;
    height: 238px;
    margin-top: -238px;

    &__content {
        padding-top: 60px;
    }
    &__link {
        color: #FFFFFF;
        font-weight: 200;
        font-size: 15px;
    }
}

.col {
    color: #FFFFFF;

    &_sm {

    }
    &_lg {

    }
    &__head {
        font-weight: bold;
    }
}